<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>D_1_Build0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{0,0},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_1_Build1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,22}</string>
				<key>spriteSize</key>
				<string>{33,22}</string>
				<key>textureRect</key>
				<string>{{34,0},{33,22}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_1_Build2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{68,0},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_1_Build3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{102,0},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_1_Build4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,16}</string>
				<key>spriteSize</key>
				<string>{33,16}</string>
				<key>textureRect</key>
				<string>{{136,0},{33,16}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_1_Build5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{170,0},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_1_Destroy0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{204,0},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_1_Destroy1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{238,0},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_1_Destroy2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,12}</string>
				<key>spriteSize</key>
				<string>{33,12}</string>
				<key>textureRect</key>
				<string>{{272,0},{33,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_1_Destroy3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{15,7}</string>
				<key>spriteSize</key>
				<string>{15,7}</string>
				<key>textureRect</key>
				<string>{{306,0},{15,7}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5333333333333333,0}</string>
			</dict>
			<key>D_1_Destroy4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,2}</string>
				<key>spriteSize</key>
				<string>{8,2}</string>
				<key>textureRect</key>
				<string>{{322,0},{8,2}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>D_1_Destroy5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{9,3}</string>
				<key>spriteSize</key>
				<string>{9,3}</string>
				<key>textureRect</key>
				<string>{{331,0},{9,3}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.4444444444444444,0}</string>
			</dict>
			<key>D_10.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{0,24},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_11.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,22}</string>
				<key>spriteSize</key>
				<string>{33,22}</string>
				<key>textureRect</key>
				<string>{{34,24},{33,22}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_12.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{68,24},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_13.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{102,24},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_14.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,16}</string>
				<key>spriteSize</key>
				<string>{33,16}</string>
				<key>textureRect</key>
				<string>{{136,24},{33,16}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_15.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{170,24},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_16.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{204,24},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_17.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{238,24},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_18.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,12}</string>
				<key>spriteSize</key>
				<string>{33,12}</string>
				<key>textureRect</key>
				<string>{{272,24},{33,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_19.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{15,7}</string>
				<key>spriteSize</key>
				<string>{15,7}</string>
				<key>textureRect</key>
				<string>{{306,24},{15,7}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5333333333333333,0}</string>
			</dict>
			<key>D_110.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,2}</string>
				<key>spriteSize</key>
				<string>{8,2}</string>
				<key>textureRect</key>
				<string>{{322,24},{8,2}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>D_111.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{9,3}</string>
				<key>spriteSize</key>
				<string>{9,3}</string>
				<key>textureRect</key>
				<string>{{331,24},{9,3}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.4444444444444444,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>Barricades_01.png</string>
			<key>textureFileName</key>
			<string>Barricades_01.png</string>
			<key>size</key>
			<string>{340,48}</string>
		</dict>
	</dict>
</plist>