<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>U_Attack0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,24}</string>
				<key>spriteSize</key>
				<string>{12,24}</string>
				<key>textureRect</key>
				<string>{{0,0},{12,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Attack1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,23}</string>
				<key>spriteSize</key>
				<string>{12,23}</string>
				<key>textureRect</key>
				<string>{{13,0},{12,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Attack2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,21}</string>
				<key>spriteSize</key>
				<string>{12,21}</string>
				<key>textureRect</key>
				<string>{{26,0},{12,21}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Attack3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,22}</string>
				<key>spriteSize</key>
				<string>{12,22}</string>
				<key>textureRect</key>
				<string>{{39,0},{12,22}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Attack4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,25}</string>
				<key>spriteSize</key>
				<string>{12,25}</string>
				<key>textureRect</key>
				<string>{{52,0},{12,25}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Attack5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,24}</string>
				<key>spriteSize</key>
				<string>{12,24}</string>
				<key>textureRect</key>
				<string>{{65,0},{12,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Walk0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,21}</string>
				<key>spriteSize</key>
				<string>{12,21}</string>
				<key>textureRect</key>
				<string>{{78,0},{12,21}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Walk1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,24}</string>
				<key>spriteSize</key>
				<string>{12,24}</string>
				<key>textureRect</key>
				<string>{{91,0},{12,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Walk2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,25}</string>
				<key>spriteSize</key>
				<string>{14,25}</string>
				<key>textureRect</key>
				<string>{{104,0},{14,25}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>U_Walk3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,26}</string>
				<key>spriteSize</key>
				<string>{14,26}</string>
				<key>textureRect</key>
				<string>{{119,0},{14,26}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>U_Walk4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,24}</string>
				<key>spriteSize</key>
				<string>{14,24}</string>
				<key>textureRect</key>
				<string>{{134,0},{14,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>U_Walk5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,22}</string>
				<key>spriteSize</key>
				<string>{12,22}</string>
				<key>textureRect</key>
				<string>{{149,0},{12,22}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Death0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,24}</string>
				<key>spriteSize</key>
				<string>{12,24}</string>
				<key>textureRect</key>
				<string>{{162,0},{12,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Death1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,23}</string>
				<key>spriteSize</key>
				<string>{14,23}</string>
				<key>textureRect</key>
				<string>{{175,0},{14,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>U_Death2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,22}</string>
				<key>spriteSize</key>
				<string>{16,22}</string>
				<key>textureRect</key>
				<string>{{190,0},{16,22}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Death3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,24}</string>
				<key>spriteSize</key>
				<string>{16,24}</string>
				<key>textureRect</key>
				<string>{{207,0},{16,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>U_Death4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{11,14}</string>
				<key>spriteSize</key>
				<string>{11,14}</string>
				<key>textureRect</key>
				<string>{{224,0},{11,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5454545454545454,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>enemy_18.png</string>
			<key>textureFileName</key>
			<string>enemy_18.png</string>
			<key>size</key>
			<string>{236,26}</string>
		</dict>
	</dict>
</plist>