<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>D_2_Build0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{31,23}</string>
				<key>spriteSize</key>
				<string>{31,23}</string>
				<key>textureRect</key>
				<string>{{0,0},{31,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5161290322580645,0}</string>
			</dict>
			<key>D_2_Build1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,25}</string>
				<key>spriteSize</key>
				<string>{33,25}</string>
				<key>textureRect</key>
				<string>{{32,0},{33,25}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_2_Build2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,25}</string>
				<key>spriteSize</key>
				<string>{33,25}</string>
				<key>textureRect</key>
				<string>{{66,0},{33,25}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_2_Build3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{100,0},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_2_Build4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,19}</string>
				<key>spriteSize</key>
				<string>{33,19}</string>
				<key>textureRect</key>
				<string>{{134,0},{33,19}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_2_Build5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,21}</string>
				<key>spriteSize</key>
				<string>{33,21}</string>
				<key>textureRect</key>
				<string>{{168,0},{33,21}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_20.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{31,23}</string>
				<key>spriteSize</key>
				<string>{31,23}</string>
				<key>textureRect</key>
				<string>{{202,0},{31,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5161290322580645,0}</string>
			</dict>
			<key>D_21.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,25}</string>
				<key>spriteSize</key>
				<string>{33,25}</string>
				<key>textureRect</key>
				<string>{{0,26},{33,25}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_22.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,25}</string>
				<key>spriteSize</key>
				<string>{33,25}</string>
				<key>textureRect</key>
				<string>{{34,26},{33,25}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_23.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,23}</string>
				<key>spriteSize</key>
				<string>{33,23}</string>
				<key>textureRect</key>
				<string>{{68,26},{33,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_24.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,19}</string>
				<key>spriteSize</key>
				<string>{33,19}</string>
				<key>textureRect</key>
				<string>{{102,26},{33,19}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_25.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,21}</string>
				<key>spriteSize</key>
				<string>{33,21}</string>
				<key>textureRect</key>
				<string>{{136,26},{33,21}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_26.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,21}</string>
				<key>spriteSize</key>
				<string>{33,21}</string>
				<key>textureRect</key>
				<string>{{170,26},{33,21}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_27.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,21}</string>
				<key>spriteSize</key>
				<string>{33,21}</string>
				<key>textureRect</key>
				<string>{{204,26},{33,21}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_28.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,17}</string>
				<key>spriteSize</key>
				<string>{33,17}</string>
				<key>textureRect</key>
				<string>{{0,52},{33,17}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_29.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{31,15}</string>
				<key>spriteSize</key>
				<string>{31,15}</string>
				<key>textureRect</key>
				<string>{{34,52},{31,15}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5161290322580645,0}</string>
			</dict>
			<key>D_2_Destroy0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,21}</string>
				<key>spriteSize</key>
				<string>{33,21}</string>
				<key>textureRect</key>
				<string>{{66,52},{33,21}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_2_Destroy1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,21}</string>
				<key>spriteSize</key>
				<string>{33,21}</string>
				<key>textureRect</key>
				<string>{{100,52},{33,21}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_2_Destroy2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,18}</string>
				<key>spriteSize</key>
				<string>{33,18}</string>
				<key>textureRect</key>
				<string>{{134,52},{33,18}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_2_Destroy3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{33,17}</string>
				<key>spriteSize</key>
				<string>{33,17}</string>
				<key>textureRect</key>
				<string>{{168,52},{33,17}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.48484848484848486,0}</string>
			</dict>
			<key>D_2_Destroy4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{31,15}</string>
				<key>spriteSize</key>
				<string>{31,15}</string>
				<key>textureRect</key>
				<string>{{202,52},{31,15}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5161290322580645,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>Barricades_02.png</string>
			<key>textureFileName</key>
			<string>Barricades_02.png</string>
			<key>size</key>
			<string>{238,74}</string>
		</dict>
	</dict>
</plist>