<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Boom30.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,12}</string>
				<key>spriteSize</key>
				<string>{12,12}</string>
				<key>textureRect</key>
				<string>{{0,0},{12,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>Boom31.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{19,17}</string>
				<key>spriteSize</key>
				<string>{19,17}</string>
				<key>textureRect</key>
				<string>{{13,0},{19,17}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>Boom32.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{33,0},{32,32}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>Boom33.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{40,42}</string>
				<key>spriteSize</key>
				<string>{40,42}</string>
				<key>textureRect</key>
				<string>{{66,0},{40,42}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>Boom34.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>textureRect</key>
				<string>{{107,0},{20,20}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>Boom35.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{22,22}</string>
				<key>spriteSize</key>
				<string>{22,22}</string>
				<key>textureRect</key>
				<string>{{128,0},{22,22}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5454545454545454,0}</string>
			</dict>
			<key>Boom20.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,12}</string>
				<key>spriteSize</key>
				<string>{12,12}</string>
				<key>textureRect</key>
				<string>{{151,0},{12,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>Boom21.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{31,34}</string>
				<key>spriteSize</key>
				<string>{31,34}</string>
				<key>textureRect</key>
				<string>{{164,0},{31,34}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5161290322580645,0}</string>
			</dict>
			<key>Boom22.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{31,29}</string>
				<key>spriteSize</key>
				<string>{31,29}</string>
				<key>textureRect</key>
				<string>{{196,0},{31,29}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5161290322580645,0}</string>
			</dict>
			<key>Boom23.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{35,39}</string>
				<key>spriteSize</key>
				<string>{35,39}</string>
				<key>textureRect</key>
				<string>{{228,0},{35,39}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5142857142857142,0}</string>
			</dict>
			<key>Boom24.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{39,41}</string>
				<key>spriteSize</key>
				<string>{39,41}</string>
				<key>textureRect</key>
				<string>{{264,0},{39,41}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5128205128205128,0}</string>
			</dict>
			<key>Boom25.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{43,45}</string>
				<key>spriteSize</key>
				<string>{43,45}</string>
				<key>textureRect</key>
				<string>{{304,0},{43,45}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5116279069767442,0}</string>
			</dict>
			<key>Boom26.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,3}</string>
				<key>spriteSize</key>
				<string>{8,3}</string>
				<key>textureRect</key>
				<string>{{348,0},{8,3}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>Boom10.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{34,31}</string>
				<key>spriteSize</key>
				<string>{34,31}</string>
				<key>textureRect</key>
				<string>{{357,0},{34,31}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5294117647058824,0}</string>
			</dict>
			<key>Boom11.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{32,29}</string>
				<key>spriteSize</key>
				<string>{32,29}</string>
				<key>textureRect</key>
				<string>{{392,0},{32,29}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>Boom12.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{29,30}</string>
				<key>spriteSize</key>
				<string>{29,30}</string>
				<key>textureRect</key>
				<string>{{425,0},{29,30}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.4827586206896552,0}</string>
			</dict>
			<key>Boom13.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{26,28}</string>
				<key>spriteSize</key>
				<string>{26,28}</string>
				<key>textureRect</key>
				<string>{{455,0},{26,28}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5384615384615384,0}</string>
			</dict>
			<key>Boom14.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{11,10}</string>
				<key>spriteSize</key>
				<string>{11,10}</string>
				<key>textureRect</key>
				<string>{{482,0},{11,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5454545454545454,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>Boom.png</string>
			<key>textureFileName</key>
			<string>Boom.png</string>
			<key>size</key>
			<string>{494,46}</string>
		</dict>
	</dict>
</plist>