<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>70.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,111}</string>
				<key>spriteSize</key>
				<string>{60,111}</string>
				<key>textureRect</key>
				<string>{{0,0},{60,111}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>71.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,110}</string>
				<key>spriteSize</key>
				<string>{60,110}</string>
				<key>textureRect</key>
				<string>{{61,0},{60,110}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>72.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,109}</string>
				<key>spriteSize</key>
				<string>{60,109}</string>
				<key>textureRect</key>
				<string>{{122,0},{60,109}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>73.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,110}</string>
				<key>spriteSize</key>
				<string>{60,110}</string>
				<key>textureRect</key>
				<string>{{183,0},{60,110}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>74.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,111}</string>
				<key>spriteSize</key>
				<string>{60,111}</string>
				<key>textureRect</key>
				<string>{{244,0},{60,111}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>75.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,112}</string>
				<key>spriteSize</key>
				<string>{60,112}</string>
				<key>textureRect</key>
				<string>{{305,0},{60,112}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>50.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{62,93}</string>
				<key>spriteSize</key>
				<string>{62,93}</string>
				<key>textureRect</key>
				<string>{{366,0},{62,93}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5161290322580645,0}</string>
			</dict>
			<key>51.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{63,92}</string>
				<key>spriteSize</key>
				<string>{63,92}</string>
				<key>textureRect</key>
				<string>{{429,0},{63,92}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5079365079365079,0}</string>
			</dict>
			<key>52.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{64,91}</string>
				<key>spriteSize</key>
				<string>{64,91}</string>
				<key>textureRect</key>
				<string>{{493,0},{64,91}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>53.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{63,92}</string>
				<key>spriteSize</key>
				<string>{63,92}</string>
				<key>textureRect</key>
				<string>{{558,0},{63,92}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5079365079365079,0}</string>
			</dict>
			<key>54.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{62,93}</string>
				<key>spriteSize</key>
				<string>{62,93}</string>
				<key>textureRect</key>
				<string>{{622,0},{62,93}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5161290322580645,0}</string>
			</dict>
			<key>55.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,94}</string>
				<key>spriteSize</key>
				<string>{60,94}</string>
				<key>textureRect</key>
				<string>{{685,0},{60,94}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>60.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{63,93}</string>
				<key>spriteSize</key>
				<string>{63,93}</string>
				<key>textureRect</key>
				<string>{{746,0},{63,93}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5079365079365079,0}</string>
			</dict>
			<key>61.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{64,92}</string>
				<key>spriteSize</key>
				<string>{64,92}</string>
				<key>textureRect</key>
				<string>{{810,0},{64,92}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>62.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{65,91}</string>
				<key>spriteSize</key>
				<string>{65,91}</string>
				<key>textureRect</key>
				<string>{{875,0},{65,91}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.49230769230769234,0}</string>
			</dict>
			<key>63.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{64,92}</string>
				<key>spriteSize</key>
				<string>{64,92}</string>
				<key>textureRect</key>
				<string>{{941,0},{64,92}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>64.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{63,93}</string>
				<key>spriteSize</key>
				<string>{63,93}</string>
				<key>textureRect</key>
				<string>{{0,113},{63,93}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5079365079365079,0}</string>
			</dict>
			<key>65.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{61,94}</string>
				<key>spriteSize</key>
				<string>{61,94}</string>
				<key>textureRect</key>
				<string>{{64,113},{61,94}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.4918032786885246,0}</string>
			</dict>
			<key>40.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,93}</string>
				<key>spriteSize</key>
				<string>{60,93}</string>
				<key>textureRect</key>
				<string>{{126,113},{60,93}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>41.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,92}</string>
				<key>spriteSize</key>
				<string>{60,92}</string>
				<key>textureRect</key>
				<string>{{187,113},{60,92}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>42.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,91}</string>
				<key>spriteSize</key>
				<string>{60,91}</string>
				<key>textureRect</key>
				<string>{{248,113},{60,91}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>43.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,92}</string>
				<key>spriteSize</key>
				<string>{60,92}</string>
				<key>textureRect</key>
				<string>{{309,113},{60,92}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>44.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,93}</string>
				<key>spriteSize</key>
				<string>{60,93}</string>
				<key>textureRect</key>
				<string>{{370,113},{60,93}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>45.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,94}</string>
				<key>spriteSize</key>
				<string>{60,94}</string>
				<key>textureRect</key>
				<string>{{431,113},{60,94}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>30.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,70}</string>
				<key>spriteSize</key>
				<string>{60,70}</string>
				<key>textureRect</key>
				<string>{{492,113},{60,70}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>31.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,70}</string>
				<key>spriteSize</key>
				<string>{60,70}</string>
				<key>textureRect</key>
				<string>{{553,113},{60,70}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>32.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,70}</string>
				<key>spriteSize</key>
				<string>{60,70}</string>
				<key>textureRect</key>
				<string>{{614,113},{60,70}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>33.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,70}</string>
				<key>spriteSize</key>
				<string>{60,70}</string>
				<key>textureRect</key>
				<string>{{675,113},{60,70}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>20.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{736,113},{60,60}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>21.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{797,113},{60,60}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{858,113},{60,60}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>23.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{919,113},{60,60}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{60,59}</string>
				<key>spriteSize</key>
				<string>{60,59}</string>
				<key>textureRect</key>
				<string>{{980,113},{60,59}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>tower_idle.png</string>
			<key>textureFileName</key>
			<string>tower_idle.png</string>
			<key>size</key>
			<string>{1040,208}</string>
		</dict>
	</dict>
</plist>