<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>D_Idle0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{19,27}</string>
				<key>spriteSize</key>
				<string>{19,27}</string>
				<key>textureRect</key>
				<string>{{0,0},{19,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>D_Idle1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{17,28}</string>
				<key>spriteSize</key>
				<string>{17,28}</string>
				<key>textureRect</key>
				<string>{{20,0},{17,28}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.47058823529411764,0}</string>
			</dict>
			<key>D_Idle2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{19,28}</string>
				<key>spriteSize</key>
				<string>{19,28}</string>
				<key>textureRect</key>
				<string>{{38,0},{19,28}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>D_Idle3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{21,27}</string>
				<key>spriteSize</key>
				<string>{21,27}</string>
				<key>textureRect</key>
				<string>{{58,0},{21,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.47619047619047616,0}</string>
			</dict>
			<key>D_Preattack.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,27}</string>
				<key>spriteSize</key>
				<string>{14,27}</string>
				<key>textureRect</key>
				<string>{{80,0},{14,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>D_Attack0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{13,26}</string>
				<key>spriteSize</key>
				<string>{13,26}</string>
				<key>textureRect</key>
				<string>{{95,0},{13,26}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.46153846153846156,0}</string>
			</dict>
			<key>D_Attack1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{13,27}</string>
				<key>spriteSize</key>
				<string>{13,27}</string>
				<key>textureRect</key>
				<string>{{109,0},{13,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.46153846153846156,0}</string>
			</dict>
			<key>D_Attack2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{13,27}</string>
				<key>spriteSize</key>
				<string>{13,27}</string>
				<key>textureRect</key>
				<string>{{123,0},{13,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.46153846153846156,0}</string>
			</dict>
			<key>D_Attack3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{13,27}</string>
				<key>spriteSize</key>
				<string>{13,27}</string>
				<key>textureRect</key>
				<string>{{137,0},{13,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.46153846153846156,0}</string>
			</dict>
			<key>D_Attack4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{13,27}</string>
				<key>spriteSize</key>
				<string>{13,27}</string>
				<key>textureRect</key>
				<string>{{151,0},{13,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.46153846153846156,0}</string>
			</dict>
			<key>D_Attack5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{13,26}</string>
				<key>spriteSize</key>
				<string>{13,26}</string>
				<key>textureRect</key>
				<string>{{165,0},{13,26}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.46153846153846156,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>archer_01.png</string>
			<key>textureFileName</key>
			<string>archer_01.png</string>
			<key>size</key>
			<string>{178,28}</string>
		</dict>
	</dict>
</plist>