<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>S_Idle0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{17,27}</string>
				<key>spriteSize</key>
				<string>{17,27}</string>
				<key>textureRect</key>
				<string>{{0,0},{17,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.47058823529411764,0}</string>
			</dict>
			<key>S_Idle1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{15,28}</string>
				<key>spriteSize</key>
				<string>{15,28}</string>
				<key>textureRect</key>
				<string>{{18,0},{15,28}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5333333333333333,0}</string>
			</dict>
			<key>S_Idle2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{17,28}</string>
				<key>spriteSize</key>
				<string>{17,28}</string>
				<key>textureRect</key>
				<string>{{34,0},{17,28}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.47058823529411764,0}</string>
			</dict>
			<key>S_Idle3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{19,27}</string>
				<key>spriteSize</key>
				<string>{19,27}</string>
				<key>textureRect</key>
				<string>{{52,0},{19,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>S_Attack0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{24,27}</string>
				<key>spriteSize</key>
				<string>{24,27}</string>
				<key>textureRect</key>
				<string>{{72,0},{24,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>S_Attack1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{24,27}</string>
				<key>spriteSize</key>
				<string>{24,27}</string>
				<key>textureRect</key>
				<string>{{97,0},{24,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>S_Attack2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{22,27}</string>
				<key>spriteSize</key>
				<string>{22,27}</string>
				<key>textureRect</key>
				<string>{{122,0},{22,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5454545454545454,0}</string>
			</dict>
			<key>S_Attack3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{21,27}</string>
				<key>spriteSize</key>
				<string>{21,27}</string>
				<key>textureRect</key>
				<string>{{145,0},{21,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.47619047619047616,0}</string>
			</dict>
			<key>S_Attack4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{28,27}</string>
				<key>spriteSize</key>
				<string>{28,27}</string>
				<key>textureRect</key>
				<string>{{167,0},{28,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>S_Attack5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,27}</string>
				<key>spriteSize</key>
				<string>{18,27}</string>
				<key>textureRect</key>
				<string>{{196,0},{18,27}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>S_Preattack.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,26}</string>
				<key>spriteSize</key>
				<string>{16,26}</string>
				<key>textureRect</key>
				<string>{{215,0},{16,26}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>archer_02.png</string>
			<key>textureFileName</key>
			<string>archer_02.png</string>
			<key>size</key>
			<string>{232,28}</string>
		</dict>
	</dict>
</plist>