<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>S_Special0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,13}</string>
				<key>spriteSize</key>
				<string>{16,13}</string>
				<key>textureRect</key>
				<string>{{0,0},{16,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>S_Special1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{19,12}</string>
				<key>spriteSize</key>
				<string>{19,12}</string>
				<key>textureRect</key>
				<string>{{17,0},{19,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>S_Special2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,18}</string>
				<key>spriteSize</key>
				<string>{14,18}</string>
				<key>textureRect</key>
				<string>{{37,0},{14,18}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>S_Special3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,24}</string>
				<key>spriteSize</key>
				<string>{16,24}</string>
				<key>textureRect</key>
				<string>{{52,0},{16,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>S_Special4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,24}</string>
				<key>spriteSize</key>
				<string>{18,24}</string>
				<key>textureRect</key>
				<string>{{69,0},{18,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>S_Special5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,21}</string>
				<key>spriteSize</key>
				<string>{18,21}</string>
				<key>textureRect</key>
				<string>{{88,0},{18,21}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>S_Walk0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,13}</string>
				<key>spriteSize</key>
				<string>{16,13}</string>
				<key>textureRect</key>
				<string>{{107,0},{16,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>S_Walk1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{19,12}</string>
				<key>spriteSize</key>
				<string>{19,12}</string>
				<key>textureRect</key>
				<string>{{124,0},{19,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>S_Walk2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{15,15}</string>
				<key>spriteSize</key>
				<string>{15,15}</string>
				<key>textureRect</key>
				<string>{{144,0},{15,15}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5333333333333333,0}</string>
			</dict>
			<key>S_Walk3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,16}</string>
				<key>spriteSize</key>
				<string>{14,16}</string>
				<key>textureRect</key>
				<string>{{160,0},{14,16}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>S_Walk4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{15,16}</string>
				<key>spriteSize</key>
				<string>{15,16}</string>
				<key>textureRect</key>
				<string>{{175,0},{15,16}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5333333333333333,0}</string>
			</dict>
			<key>S_Walk5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{191,0},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>S_Walk20.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{206,0},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>S_Walk21.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,13}</string>
				<key>spriteSize</key>
				<string>{12,13}</string>
				<key>textureRect</key>
				<string>{{221,0},{12,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>S_Walk22.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,10}</string>
				<key>spriteSize</key>
				<string>{14,10}</string>
				<key>textureRect</key>
				<string>{{234,0},{14,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>S_Walk23.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,9}</string>
				<key>spriteSize</key>
				<string>{16,9}</string>
				<key>textureRect</key>
				<string>{{249,0},{16,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>S_Walk24.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{266,0},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>S_Walk25.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,12}</string>
				<key>spriteSize</key>
				<string>{12,12}</string>
				<key>textureRect</key>
				<string>{{281,0},{12,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>S_Death20.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,10}</string>
				<key>spriteSize</key>
				<string>{14,10}</string>
				<key>textureRect</key>
				<string>{{294,0},{14,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>S_Death21.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{6,9}</string>
				<key>spriteSize</key>
				<string>{6,9}</string>
				<key>textureRect</key>
				<string>{{309,0},{6,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.6666666666666666,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>enemy_11.png</string>
			<key>textureFileName</key>
			<string>enemy_11.png</string>
			<key>size</key>
			<string>{316,24}</string>
		</dict>
	</dict>
</plist>